@charset "utf-8";
body {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

section {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

article.slide {
    width: 100%;
    height: 850px;
    margin-bottom: 80px;
    position: relative;
    overflow: hidden;
}

.slide .banner {
    display: flex;
    flex-direction: "row";
    width: 300%;
    
}

.banner .banner-box {
    height: 850px;
    width: 100%;
}

.banner .banner-box .dim {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.banner .box1 {
    background-image: url(../img/banner2-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .box2 {
    background-color: #3c1152;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .box3 {
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
}


.banner .banner-box .title {
    width: 1290px;
}

.slide .title h2 {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 24px;
}

.slide .title p {
    font-size: 18px;
    color: #fff;
        font-weight: 400;
    line-height: 28px;
    margin-bottom: 32px;
}

.slide .title .btn {
    font-size: 14px;
    padding: 8px 24px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 40px;
    margin: 0 auto;
    background-color: transparent;
}

article.slide .pager {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}
article.slide .pager > button {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: transparent;
    margin: 0 5px;
}
/* custom */
article.custom {
    width: 100%;
    background-image: url(../img/bg_custom.png);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: bottom;
    padding-bottom: 80px;
}

.custom .title {
    text-align: center;
    margin-bottom: 40px;
}

.custom .title h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.custom .title p {
    font-size: 16px;
    color: #595959;
    margin-bottom: 40px;
    line-height: 28px;
}

.custom ul {
    width: 1280px;
    margin: 0 auto;
}

.custom ul li {
    width: 32%;
    text-align: center;
    margin-bottom: 40px;
}

.custom ul li~li {
    margin-left: 2%;
}

ul li .img-box {
    width: 100%;
    height: 405px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin-top: 40px;
}

ul li .img-box::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background-image: linear-gradient(360deg,
            rgba(75, 34, 122, 0.8) 10%,
            rgba(75, 34, 122, 0.6) 30%,
            rgba(221, 211, 232, 0) 60%);
}

ul li .img-box img {
    width: 100%;
}

.custom ul li .img-box .des-box {
    color: #fff;
    text-shadow: 0 0 2px #eee;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 4;
    width: 300px;
}

.des-box .des h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
}

.des-box .des p {
    line-height: 28px;
    letter-spacing: -0.7px;
    margin-bottom: 16px;
}

.custom .icon-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.customsub h2 {
    color: #fff;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
}

.custom .icon-wrap .icon-box {
    width: 200px;
    text-align: center;
    padding: 16px;
    border: 2px solid #fff;
    border-radius: 20px;
}

.icon-box .des h4 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
    color: #fff;
}

.icon-box .des p {
    font-size: 16px;
    color: #fff;
}

/* 리뷰*/
article.review {
    width: 100%;
    padding: 80px 0;
}

article.review h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 80px;
}

/* review */

.review .slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.review .slider .box-wrap {
    width: 200%;
    padding: 30px 0;
}

.review .slider .box-wrap .box {
    display: inline-block;
    width: 250px;
    margin-left: 32px;
    margin-bottom: 32px;
    height: 260px;
    padding: 24px;
    border: 3px solid #3c1152;
    /* box-shadow: 0 0 8px #5B1A7C; */
    border-radius: 30px;
    box-sizing: border-box;
}

.review .box a .rev-top {
    position: relative;
    margin-bottom: 24px;
}

.review .box a .rev-top p:first-child {
    font-size: 12px;
    background-color: #e81d75;
    padding: 2px 8px;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
}

.review .box a .rev-top p:last-child {
    font-size: 14px;
    color: #878484;
    position: absolute;
    right: 0;
    bottom: 0;
}

.review .box a .rev-bottom {
    margin-bottom: 8px;
}

.review .box a .rev-bottom p:first-child {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 8px;
}

.review .box a .rev-bottom p:last-child {
    color: #595959;
    line-height: 28px;
    height: 80px;
    overflow: hidden;
}

article.pill {
    width: 100%;
    padding: 120px 0;
    border-radius: 500px 0 0 500px;
    margin-bottom: 120px;
    background-color: #fbfaff;
}

article.pill .title {
    margin-bottom: 80px;
    text-align: center;
}

article.pill .title h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 32px;
}

.pill .title p {
    color: #595959;
    line-height: 28px;
    margin-bottom: 32px;
}

.pill .title .btn {
    font-size: 14px;
    color: #878484;
    cursor: pointer;
}

.pill ul {
    width: 100%;
}

.pill ul li.product {
    width: 28%;
    padding: 0 45px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 100px;
    margin-right: 4%;
    margin-bottom: 4%;
    box-shadow: 4px 4px 4px #d9d9d9;
    overflow: hidden;
    position: relative;
}

.pill ul li:nth-child(3n) {
    margin-right: 0;
}

.product a {}

.product a div {
    float: left;
    width: 50%;
}

.product a .pill-img {
    height: 120px;
}

.product .pill-img img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

.product a .info {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.product a .info .tag {
    font-size: 14px;
    color: #878484;
    margin-bottom: 4px;
}

.product a .info .txt {
    font-weight: 500;
}

.product a .info .tag span {
    margin-right: 4px;
}

.product a .des {
    font-size: 14px;
    margin-bottom: 4px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 28px;
    display: none;
}

.product a .des p {
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    left: 100px;
}

/* 메거진 */
article.magazine {
    width: 100%;
    margin-bottom: 80px;
}

.magazine .magazine-top {
    position: relative;
    margin-bottom: 80px;
}

.magazine .magazine-top h2 {
    font-size: 28px;
    font-weight: 700;
}

.magazine .magazine-top nav {
    color: #595959;
    position: absolute;
    bottom: 0;
    right: 0;
}

.magazine-top nav ul li a {
    display: inline-block;
    padding: 0 12px;
}

.magazine ul li.magazine-box {
    float: left;
    width: 32%;
    position: relative;
}

.magazine ul li.magazine-box a .badge-life {
    position: absolute;
    left: 13px;
    top: 10px;
    padding: 2px 12px;
    background-color: #3c1152;
    color: #fff;
    border-radius: 15px;
    font-size: 12px;
    z-index: 99;
}

.magazine ul li.magazine-box~li.magazine-box {
    margin-left: 2%;
}

.magazine ul .magazine-box a {
    display: block;
    margin-bottom: 24px;
    overflow: hidden;
}

.magazine ul .magazine-box img {
    width: 100%;
    display: block;
    transition: all 0.6s;
}

.magazine-box a:hover img {
    transform: scale(1.2);
}

.title-box h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4px;
}

.title-box p {}

.title-box p span {
    font-size: 14px;
    color: #878484;
}

/* q&a */
article.qa {
    margin-bottom: 80px;
}

article.qa {}

.qa .service {
    float: left;
    width: 49%;
    padding: 16px 24px;
    box-sizing: border-box;
    border-radius: 30px;
    margin-right: 2%;
}

.qa .service h3 {
    font-weight: 500;
    color: #3c1152;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 16px;
    font-size: 18px;
}

.qa .service p {
    font-size: 14px;
    margin-bottom: 8px;
    color: #595959;
}

.qa .service p a {
    font-size: 14px;
    color: #878484;
}

.qa .notice {
    float: left;
    width: 49%;
    padding: 16px 24px;
    box-sizing: border-box;
    border-radius: 30px;
}

.qa .notice h3 {
    color: #3c1152;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 16px;
}

.qa .notice p {
    font-size: 14px;
    margin-bottom: 8px;
    color: #595959;
}

.qa .notice p a {
    font-size: 14px;
    color: #878484;
}