@charset "utf-8";
body {
    font-family: 'S-Core Dream 4';
    font-size: 16px;
    overflow-x: hidden;
}
section {
    margin-top: 130px;
}

article.banner {
    width: 100%;
    height: 600px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 80px;
}

.banner .title {
    text-align: center;
    color: #fff;
    transform: translateY(50%);
}

.banner .title h2 {
    font-size: 30px;
    margin-bottom: 40px;
}

.banner .title p {
    font-size: 18px;
    text-shadow: 0 0 4px #d9d9d9;
    margin-bottom: 50px;
}

.banner .title .btn {}

.banner .title .btn a {
    display: inline-block;
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: #3C1152;
    border-radius: 100px;
    text-align: center;    
}
.banner .title .btn a:hover {
    display: inline-block;
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border-radius: 100px;
    background-color: #3C1152;
    text-align: center;
}

article.step {
    width: 100%;
    /* height: 560px; */
    margin-bottom: 120px;
}


.step .stepwrap .step-des,
.step .stepwrap .imgbox {
    float: left;
    width: 48%;
}
.step .stepwrap .step-des {
    line-height: 24px;
    margin-right: 2%;
}

.stepwrap .step-des .title {}

.step-des .title {}

.step-des .title h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.step-des .title p {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 30px;
    height: 120px;
}

.step-des .btn a{
    display: inline-block;
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 400;
    color: #5B1A7C;
    background-color: #FBFAFF;
    border: 1px solid #5B1A7C;
    border-radius: 100px;
    text-align: center;    
}
.step-des .btn a:hover{
    display: inline-block;
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border-radius: 100px;
    background-color: #3C1152;
    text-align: center;
}

.step-des .boxwrap .box {
    float: left;
    width: 48%;
    margin-bottom: 40px;
}
.step-des .boxwrap .box:first-child {
    margin-right: 2%;
}
.boxwrap .box img{
    display: block;
    width: 80px;
    margin-bottom: 24px;
}
.boxwrap .box h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}
.boxwrap .box p{
    font-size: 16px;
    height: 92px;
    color: #797979;
}

.step .stepwrap .imgbox{
    height: 560px;
    overflow: hidden;
    background-color: #eee;
    
}

.stepwrap .imgbox img {
    display: block;
    width: 100%;
}
.stepwrap .imgbox1 {
    position: relative;
    left:300px;
    opacity: 0;
    transition: all 3s;
}
.stepwrap .imgbox2 {
    position: relative;
    left:-300px;
    opacity: 0;
    transition: all 3s;
}
.stepwrap .imgbox3 {
    position: relative;
    left:300px;
    opacity: 0;
    transition: all 3s;
}
.step2 .stepwrap .step-des2,
.step2 .stepwrap .imgbox2 {
    float: right;
    width: 48%;
    margin: 0 2% 0 0;
}
.step1 .stepwrap .imgbox2:first-child{
    margin: 0;
}